* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Be Vietnam Pro", sans-serif;
}

/**************** Common ******************/
.container {
    width: 1290px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.main-content {
    margin-top: 127px;
    padding-top: 50px;
}

.main-content--no-padding-top {
    padding-top: 0;
}

.title-wrap {
    border-bottom: 2px solid #E6B336;
    border-bottom-left-radius: 12px;
    margin: 59px 0 15px;
}

.title {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 16px 24px;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    background: #E6B336;
    color: #ffffff;
    font-size: 2.4rem;
    font-weight: 700;
}

.title::after {
    content: "";
    position: absolute;
    right: -42px;
    bottom: 0;
    width: 42px;
    height: 15px;
    box-shadow: -15px 0px 0px 0px #E6B336;
    border-radius: 0 0 0 26px;
}

a {
    text-decoration: none;
}

.logo {
    color: #363636;
    font-size: 2.6rem;
}

.logo span {
    font-size: 2rem;
    color: #eab308;
}

.sale {
    font-size: 1.2rem;
    background: #e9330d;
    color: #fff;
    border-radius: 9999px;
    padding: 4px 8px;
}

/**************** Main ******************/
.header {
    padding-top: 10px;
    background: #fff;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.header--small {
    display: none;
}

.header-body {
    display: grid;
    grid-template-columns: 32% 32% 1fr;
    align-items: center;
}

.header-body__item:nth-child(2) {
    text-align: center;
}

.header-body__item:last-child {
    display: flex;
    justify-content: space-between;
    gap: 45px;
}

.header-body__form {
    position: relative;
}

.header-body__input {
    width: 100%;
    height: 45px;
    padding-left: 15px;
    color: #363636;
    border: 1px solid currentColor;
    border-radius: 9999px;
    outline: none;
    font-size: 1.4rem;
}

.header-body__btn {
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translateY(-50%);
    z-index: 99999;
    background: #E5B234;
    border: none;
    padding: 10px 22px;
    border-radius: 9999px;
    cursor: pointer;
}

.header-body__btn i {
    color: #fff;
    font-size: 1.8rem;
}

.header-body__call-us {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-width: 294px;
    background: #E5B234;
    color: #fff;
    border-radius: 9999px;
    padding: 12px 15px;
    font-size: 1.4rem;
}

.header-body__user {
    position: relative;
}

.header-body__user .account-action {
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    min-width: 120px;
    background: #333;
    border-radius: 6px;
    display: none;
}

.header-body__user .account-action::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    height: 20px;
}

.header-body__user .account-action::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: -7px;
    left: calc(50% - 7px);
    background: #333;
    height: 14px;
    width: 14px;
    transform: rotate(45deg);
}

.header-body__user:hover .account-action {
    display: block;
}

.header-body__user .account-action a {
    display: block;
    padding: 12px;
    color: #fff;
    font-size: 1.4rem;
    border-radius: 6px;
}

.header-body__user .account-action a:hover {
    background: #6666;
}

.header-body__cart {
    position: relative;
}

.header-body__badge {
    --height: 20px;
    position: absolute;
    top: -8px;
    right: -12px;
    display: block;
    color: #fff;
    background: #E5B234;
    width: 20px;
    height: var(--height);
    font-size: 1.2rem;
    border-radius: 50%;
    text-align: center;
    line-height: var(--height);
}

/* Navbar */
.nav {
    margin-top: 16px;
    background: #000;
}

.navbar-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navbar-link {
    color: #fff;
    display: inline-block;
    padding: 20px 15px;
    font-weight: 600;
}

.navbar-item:hover .navbar-link {
    background: #E6B336;
}

/**************** Auth pages ******************/
/**************** Register ******************/
.form-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 165px;
}

.form-block__body {
    padding: 20px;
    border-radius: 8px;
    width: 520px;
    text-align: center;
}

.form-block__heading {
    margin-bottom: 10px;
    font-size: 2.5rem;
    font-weight: bold;
}

.form-block__desc {
    margin: 18px 0;
}

.form-block__desc a {
    color: #E6B336;
}

.form-block__form {
    margin-top: 50px;
}

.form-group {
    text-align: left;
}

.form-group+.form-group {
    margin-top: 16px;
}

.form-group__label span {
    color: red;
}

.form-group__input {
    width: 100%;
    padding: 10px 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.form-group__submit {
    width: 100%;
    padding: 10px;
    background-color: #eab308;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}

.form-group__submit:hover {
    background-color: #d4a106;
}

/**************** Products ******************/
.products__list {
    display: grid;
    grid-template-columns: repeat(4, 23.3%);
    gap: 30px;
}

.products__item {
    --radius: 10px;
    border-radius: var(--radius);
    transition: box-shadow 0.25s;
}

.products__item:hover {
    box-shadow: 0px 0px 6px 0px rgba(50, 50, 93, 0.1), 1px 1px 5px rgba(0, 0, 0, 0.02);
}

.products__img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: var(--radius);
    transition: transform 0.25s;
}

.products__link-img:hover .products__img {
    transform: scale(0.95);
}

.products__content {
    padding: 20px 8px;
}

.products__name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 16px;
}

.products__name a {
    color: #090302;
    font-weight: 600;
    line-height: 1.4;
}

.products__name a:hover {
    color: #E6B336;
}

.products__new-price {
    display: block;
    color: #E6B336;
    font-weight: 600;
    margin-bottom: 8px;
}

.products__old-price {
    display: inline-block;
    margin-right: 5px;
    color: #666;
    text-decoration: line-through;
    font-size: 1.4rem;
}

/**************** Product detail ******************/
.product-detail {
    padding-top: 21px;
    margin-top: 127px;
}

.product-detail .body {
    display: flex;
}

.product-detail__img {
    width: 56%;
}

.product-detail__img img {
    width: 80%;
}

.product-detail__content {
    width: 44%;
    padding-left: 31px;
}

.product-detail__name {
    color: #090302;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 1.4;
}

.product-detail__price-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0 10px;
}

.product-detail__new-price {
    color: #E5B234;
    font-size: 2rem;
    font-weight: 600;
}

.product-detail__old-price {
    color: #979797;
    margin: 0 12px;
    font-size: 1.6rem;
    text-decoration: line-through;
}

.product-detail__sale {
    font-size: 1.4rem;
    padding: 6px 9px;
}

.product-detail__save-price {
    width: 100%;
    margin-top: 4px;
    color: #090302;
    font-size: 1.4rem;
}

.product-detail__save-price strong {
    color: #E5B234;
}

.product-detail__form-btn {
    --radius: 5px;
    margin-top: 32px;
}

.product-detail__form-btn button {
    background: transparent;
    outline: none;
    border: 1px solid currentColor;
    height: 46px;
    cursor: pointer;
}

.product-detail__group {
    display: flex;
    gap: 20px;
}

.product-detail__quantity-group input {
    width: 80px;
    padding: 6px 12px;
    font-size: 1.8rem;
    border: 1px solid #ced4da;
    border-radius: var(--radius);
    color: #8c9196;
    height: 46px;
    outline: none;
}

.product-detail__form-btn .btn {
    width: 100%;
    font-size: 1.8rem;
    font-weight: 600;
    border-radius: var(--radius);
    text-transform: uppercase;
}

.product-detail__form-btn .btn--add-to-cart {
    color: #E6B336;
    border: 1px solid currentColor;
    transition: color 0.25s, background 0.25s;
}

.product-detail__form-btn .btn--add-to-cart:hover {
    color: #fff;
    background: #E6B336;
}

.product-detail__form-btn .btn--buy-now {
    background: #E6B336;
    color: #fff;
    margin-top: 8px;
    transition: opacity 0.25s;
}

.product-detail__form-btn .btn--buy-now:hover {
    opacity: 0.9;
}

.product-detail__info h2 {
    margin: 16px 0;
    font-size: 1.6rem;
    font-weight: 600;
    color: #090302;
}

.product-detail__info p {
    color: #090302;
    font-size: 1.3rem;
    line-height: 1.5;
}

.product-detail__info strong {
    font-weight: 600;
}

/* Tab link */
.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
    border-bottom: 1px solid #eee;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    color: #9c9c9c;
    background: transparent;
    padding: 10px 0;
    font-size: 1.8rem;
    font-weight: 600;
    user-select: none;
    -webkit-user-select: none;
    border: none;
    outline: none;
    cursor: pointer;
}

/* Change background color of buttons on hover */
.tab button:hover {
    color: #E6B336;
}

/* Create an active/current tablink class */
.tab button.active {
    border-bottom: 3px solid #E6B336;
    color: #E6B336;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
}

/**************** Shopping cart ******************/
.shopping-cart table {
    text-align: center;
    width: 100%;
}

.shopping-cart table th,
.shopping-cart table td {
    font-size: 2rem;
    vertical-align: middle;
}

.shopping-cart table td {
    padding: 18px 0;
    font-size: 1.6rem;
}

.shopping-cart__name {
    width: 300px;
    line-height: 1.4;
}

.shopping-cart .form-group {
    display: flex;
    justify-content: center;
}

.shopping-cart table input[type='number'] {
    border: 1px solid #8c9196;
    outline: none;
    width: 100px;
    padding: 4px;
    font-size: 1.6rem;
}

.shopping-cart table input[type='submit'] {
    border: none;
    outline: none;
    background: #E6B336;
    color: #fff;
    font-size: 1.6rem;
    padding: 8px 16px;
    margin-left: 8px;
    cursor: pointer;
}

.shopping-cart__price,
.shopping-cart__total,
.shopping-cart__total-all {
    font-weight: 600;
    color: #E6B336;
}

.shopping-cart__remove-btn a {
    display: inline-block;
    padding: 10px 24px;
    color: #fff;
    background: tomato;
    border-radius: 5px;
}

.shopping-cart table input[type='submit']:hover,
.shopping-cart__remove-btn a:hover {
    opacity: 0.9;
}

.shopping-cart_btn-continue {
    display: block;
    color: #fff;
    background: #E6B336;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
}

.checkout-btn {
    margin-top: 20px;
    text-align: center;
}

.checkout-btn a {
    display: inline-block;
    color: #fff;
    background: #eab308;
    padding: 10px;
    font-size: 1.8rem;
    border-radius: 5px;
    transition: opacity 0.25s;
}


.shopping-cart table input[type='submit']:hover,
.shopping-cart__remove-btn a:hover,
.shopping-cart_btn-continue:hover,
.checkout-btn a:hover {
    opacity: 0.8;
}

.cart-empty {
    text-align: center;
}

.cart-empty h2 {
    font-size: 20px;
    font-weight: 600;
}

.cart-empty p {
    margin: 16px 0;
    color: #727272;
}

.cart-empty a {
    display: inline-block;
    color: #eab308;
    border: 1px solid #eab308;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 1.6rem;
}

.cart-empty a:hover {
    background: #eab308;
    color: #fff;
}

/**************** Checkout ******************/
.checkout-form {
    display: flex;
    justify-content: center;
}

.checkout-form__form {
    width: 900px;
}

.checkout-form_flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.checkout-form__form-item {
    width: calc(50% - 10px);
}

.checkout-form__form-item input,
.checkout-form__form-item select {
    width: 100%;
    margin-top: 8px;
    padding: 8px 10px;
    border: 1px solid #979797;
    border-radius: 5px;
    outline: none;
}

.checkout-form__btn-checkout {
    display: block;
    width: 100%;
    margin-top: 16px;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    background: #eab308;
    color: #fff;
    cursor: pointer;
    font-size: 1.6rem;
    transition: opacity 0.25s;
}

.checkout-form__btn-checkout:hover {
    opacity: 0.8;
}

.grand-total {
    margin-top: 16px;
    color: #eab308;
    font-weight: 600;
    font-size: 1.6rem;
}

/**************** Order Message complete ******************/
.order-message-container {
    position: fixed;
    inset: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 20px;
    background: rgba(0, 0, 0, 0.4);
}

.order-message-container::-webkit-scrollbar {
    width: 100px;
}

.order-message-container::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.02);
}

.order-message-container::-webkit-scrollbar-thumb {
    /* background: rgba(0, 0, 0, 0.02); */
    background: red;
}

.order-message-container .message-container {
    background: #fff;
    width: 800px;
    border-radius: 5px;
    padding: 20px;
}

.message-container h3 {
    text-align: center;
    font-size: 20px;
    color: #149df1;
    margin-bottom: 20px;
}

.message-container .order-detail {
    background: #efeeee;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.message-container .order-detail span:first-child {
    line-height: 1.6;
}

.message-container .order-detail .total {
    display: block;
    background: tomato;
    color: #fff;
    margin-top: 8px;
    border-radius: 5px;
    padding: 10px;
}

.message-container .customer-detail {
    margin-top: 16px;
    text-align: center;
}

.message-container .customer-detail p+p {
    margin-top: 16px;
}

.message-container .customer-detail span {
    color: #0379c2;
}

.message-container a {
    display: block;
    background: #E6B336;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin-top: 16px;
    transition: background 0.25s;
}

.message-container a:hover {
    background: #000;
}

/**************** Policies ******************/
.policies {
    margin-top: 60px;
    padding: 25px 0;
    background: #E6B336;
}

.policies__body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.policies__item {
    display: flex;
    gap: 15px;
    color: #fff;
}

.policies__item img {
    width: 40px;
    height: 40px;
}

.policies__item h3 {
    font-weight: 600;
    font-size: 1.6rem;
    margin-bottom: 8px;
}

.policies__item {
    font-size: 1.4rem;
    line-height: 1.4;
}

/**************** Footer ******************/
.footer {
    margin-top: 80px;
    background-color: #fff;
    padding: 20px;
}

.footer__row {
    display: grid;
    grid-template-columns: 32% 1fr 1fr 1fr;
}

.footer__column {
    flex: 1;
}

.footer__column:first-child p {
    width: 374px;
}

.footer__column h3 {
    color: #292929;
    margin-bottom: 16px;
    font-size: 1.6rem;
    font-weight: 600;
}

.footer__column p,
.footer__column a {
    line-height: 1.5;
    font-size: 1.5rem;
    color: #292929;
}

.footer__column a:hover {
    color: #E5B234;
}

.footer__column p+p {
    margin-top: 10px;
}

.footer__column strong {
    font-weight: 600;
}

.subscribe {
    display: flex;
    align-items: center;
}

.subscribe input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.subscribe button {
    background-color: #eab308;
    border: none;
    padding: 8px 12px;
    color: white;
    cursor: pointer;
    margin-left: 5px;
    border-radius: 4px;
}

/**************** Admin page ******************/
.add-product-wrap {
    display: flex;
    justify-content: center;
}

.form-container form {
    width: 900px;
    background: #e7e6e6;
    padding: 20px;
    border-radius: 5px;
}

.form-container .add-product-form h1 {
    text-align: center;
    font-weight: 600;
    font-size: 2.2rem;
}

.form-container input,
.form-container textarea {
    display: block;
    width: 100%;
    margin-top: 12px;
    padding: 8px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 1.6rem;
}

.form-container input[type="submit"] {
    cursor: pointer;
    background: #149df1;
    color: #fff;
}

.message {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #20d432;
    color: #fff;
    margin: 0 auto;
    padding: 15px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.message--error {
    background: tomato;
}

.message i {
    cursor: pointer;
    font-size: 2rem;
}

.display-product-table {
    margin-top: 30px;
}

.display-product-table table,
.display-product-table th,
.display-product-table td {
    border: 1px solid #979797;
    vertical-align: middle;
    padding: 8px;
    line-height: 1.4;
    font-size: 1.6rem;
}

.display-product-table tr:nth-child(even) {
    background: #83adf641;
}

.display-product-table__name {
    width: 200px;
}

.edit-btn,
.delete-btn {
    display: block;
    margin-top: 4px;
    font-size: 1.6rem;
    background: #eab308;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    text-align: center;
}

.delete-btn {
    background: #ea2b28;
}

.edit-btn:hover,
.delete-btn:hover {
    opacity: 0.8;
}

.edit-product-container {
    position: fixed;
    inset: 0;
    display: none;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 40px 0;
}

.edit-product-container form {
    overflow: auto;
}

.edit-product-container form input[type="button"] {
    background: #e51616;
    color: #fff;
    cursor: pointer;
}

.close-edit-form {
    display: none;
}


/**************** Swiper slider ******************/
swiper-container {
    width: 100%;
    height: 100vh;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/**************** Media query ******************/
@media (min-width:320px) and (max-width: 1025px) {
    .main-content {
        margin-top: 10px;
        padding: 0;
    }

    .header--large {
        display: none;
    }

    .header--small {
        display: block;
        padding: 20px 0;
    }

    /* .header--small .fixed {} */

    .wrap-search,
    .nav {
        background: rgba(0, 0, 0, 0.4);
        position: fixed;
        inset: 0;
        z-index: 1000;
        margin: 0;
        display: none;
    }

    .wrap-search-body {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: #fff;
        padding: 20px;
        z-index: 1000;
    }

    .show-search {
        display: block;
    }

    .header-body {
        grid-template-columns: 1fr 80% 1fr;
    }

    .header-body__item:last-child {
        justify-content: flex-start;
        gap: 10px;
    }

    .header--small__search-icon,
    .header--small__bars-icon {
        cursor: pointer;
    }

    .header--small__search-icon i,
    .header--small__bars-icon i {
        font-size: 2.4rem;
        color: #333;
    }

    .show-nav {
        display: block;
    }

    .nav-body {
        width: 60%;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        background: #fff;
    }


    .navbar-list {
        flex-direction: column;
    }

    .navbar-link {
        display: block;
        padding: 20px;
        color: #000;
    }

    .navbar-link:hover {
        color: #fff;
        background: #E6B336;
    }

    .header-body__user {
        background: #E6B336;
        padding: 20px;
        margin-bottom: 16px;
    }

    .header-body__user--logged-in {
        display: flex;
        gap: 20px;
    }

    .header-body__user--logged-in .group {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .header-body__user--logged-in a {
        color: #fff;
        transition: transform 0.25s;
    }

    .header-body__user--logged-in a:hover {
        transform: translateX(8px);
    }

    swiper-container {
        height: 200px;
    }

    .title-wrap {
        margin: 30px 0 15px;
    }

    .title-wrap .title {
        padding: 16px 15px;
        font-size: 2rem;
    }

    .footer {
        padding: 0;
    }

    .footer__column {
        margin-bottom: 26px;
    }

    /* product page */
    .product-detail {
        margin: 0;
    }

    .product-detail .body {
        flex-direction: column;
        align-items: center;
    }

    .product-detail__img,
    .product-detail__content,
    .product-detail__img img {
        width: 100%;
    }

    .shopping-cart {
        overflow-x: scroll;
    }

    .shopping-cart table {
        width: 1200px;
    }
}

/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media (min-width:320px) and (max-width: 700px) {

    .products__list,
    .policies__body,
    .footer__row {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (min-width:700px) and (max-width: 1025px) {
    .footer__column:nth-child(2) {
        text-align: center;
    }

    .products__list,
    .policies__body,
    .footer__row {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:1025px) {}

@media (min-width:1281px) {
    /* hi-res laptops and desktops */
}